{% load static %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Glowing Animated Login Form</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

<div class="box">
  <div class="login">
    <div class="loginBx">
        
      <h2>
        <i class="fa-solid fa-right-to-bracket"></i>
          Login
        <i class="fa-solid fa-heart"></i>
      </h2>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required> 
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Sign in">
      </form>
      <div class="group">
        <a href="{% url 'password_reset' %}">Forgot Password</a>
        <a href="#">Sign up</a>
 
      </div>
    </div><br>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">&nbsp;&nbsp;{{error}}</p>
            {% endfor %}
            {% endif %}
  </div>
</div>

</body>
</html>