
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Glowing Animated Login Form</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

<div class="box">
  <div class="login">
    <div class="loginBx">
        
      <h2>
        <i class="fa-solid fa-right-to-bracket"></i>
        Reset Your Password
        <i class="fa-solid fa-heart"></i>
      </h2>
      <form method="post" action="">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Enter your email">
        <input type="submit" value="Send Reset Link">
      </form>
      </div>
    </div><br>
  </div>
</div>

</body>
</html>
